  <div class="post-container">
    <div class="votes">
      <p class="vote-total-<%= post.id %>"><%= "Votes: #{post.votes}" %></p>
      <%= form_tag upvote_post_path(post), method: :upvote, remote: true do %>
        <% hidden_field_tag :votes, post.votes %> 
      <%= submit_tag "^", class: "upvote" %>
      <% end %>

      <%= form_tag downvote_post_path(post), method: :downvote do %>
        <% hidden_field_tag :votes, post.votes %> 
      <%= submit_tag "v", class: "downvote" %>
      <% end %>
    </div>
    <%= link_to post.title, post.url, target: "_blank", class: "post" %>
  </div>

