<% if current_user %>
  <%= link_to "Logout", logout_path, class: "logout-link" %>
  <%= link_to "Share a link", new_post_path, class: "new-post-link" %>
<% else %>
  <%= link_to "Login", login_path, class: "login-link" %>
  <%= link_to "Signup", new_user_path, class: "signup-link" %>
<% end %>

<% @posts.each do |post| %>
  <div class="post-container">
    <%= link_to post.title, post.url, target: "_blank", class: "post" %>
  </div>
<% end %>
